<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thyemeleaf in action</title>
</head>
<body>
	<div>
		<div th:replace="~{fragments/header :: header}"></div>
		<h3 th:text="${userModel.title}">mamaoyuan</h3>
	</div>

	<table border="1">
		<thead>
			
			<tr>
				<td>ID</td>
				<td>Email</td>
				<td>Name</td>
			</tr>
		</thead>
		<tbody>
				<tr th:if="${userModel.userList.size()} eq 0">
						<td colspan="3">没有用户信息 </td>
				</tr>
				<tr th:each="user : ${userModel.userList}">
				
					<td th:text="${user.id}"> </td>
					<td th:text="${user.email}"> </td>
					<td> <a th:href="@{'/users/'+${user.id}}" th:text="${user.name}" ></a> </td>
				</tr>
		</tbody>
	</table>
	
	<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
